.status-bar {
    position: fixed;
    top: 0; /*top: 0; 이 없으면 status bar가 아래로 내려온다,, 왜? -> 설정 안해주면 브라우저가 결정하기 때문! */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}

.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span {
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}